/.idea
/TestResults
/CustomerService/bin
/CustomerService/obj
/CustomerService/CustomerService/bin
/CustomerService/CustomerService/obj
/CustomerService.Tests/bin
/CustomerService.Tests/obj
/CustomerService.Persistence/bin
/CustomerService.Persistence/obj
/CustomerService.Core/bin
/CustomerService.Core/obj
