bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
../../Ciklum_MinimalAPI/CustomerService.Tests/bin/
../../Ciklum_MinimalAPI/CustomerService.Tests/obj/
../../Ciklum_MinimalAPI/CustomerService.Persistence/bin/
../../Ciklum_MinimalAPI/CustomerService.Persistence/obj/
../../Ciklum_MinimalAPI/CustomerService.Core/bin/
../../Ciklum_MinimalAPI/CustomerService.Core/obj/
.idea/
./CustomerService.Tests/bin/
./CustomerService.Tests/obj/
./CustomerService.Persistence/bin/
./CustomerService.Persistence/obj/
./CustomerService.Core/bin/
./CustomerService.Core/obj/
./CustomerService.Core/Debug/